@model IEnumerable<baitap.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                ID Sản Phẩm
            </th>
            <th>
                Tên Sản Pham
            </th>
            <th>
                Nhà Cung Cấp
            </th>
            <th>
                Giá Nhập
            </th>
            <th>
                Giá Bán
            </th>
            <th>
                Số lượng
            </th>
            <th>
               Ngày Nhập
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-Idsp="@item.IdSP">Edit</a>
                <a asp-action="Delete" asp-route-Idsp="@item.IdSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
